{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<!-- this page allows the user to delete their post -->
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <div class="alert alert-success text-center" role="alert">
                Your post was successfully deleted!<br>
                <br>
                <a href="{% url 'my_posts'%}">Back to My Posts</a>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock content %}